html,body{
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 400px;
}
#inputField{
    width: 350px;
    height: 30px;
    border: 1px solid black;
    font-size: 21px;
    color: deeppink;
}
#addToDo{
    width:180px;
    height: 100px;
    border: 1px solid black;
    font-size : 20px;
    padding: 20px;
    vertical-align: middle;
}
.paragraph-styling{
    font-size: 20px;
    color: blue;
}